<dom-module id="xui-overlay">
  <link rel="import" type="css" href="overlay.css">
  <template>
    <div id="overlay" on-click=" toggleOverlay ">
      <div id="modalWindow">
        <div id="modalHeader">
          <content select="#header"></content>
        </div>
        <div id="modalBody">
          <content select="#body"></content>
        </div>
        <div id="modalFooter">
          <div class="right">
            <content select="#footer"></content>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </template>
  <script src="overlay.js"></script>
</dom-module>
