
  #container {
    background-color: #000;
    width:90%;
    height: 750px;
    margin: 50px auto 0 auto;
    padding: 10px;
  }

  header {
    display: flex;
    background-color: #868686;
    width: 100%;
    justify-content: space-between;
  }

  a {
    color: #fff;
    text-decoration: none;
    margin:20px;
  }

  a:hover {
    color: #464646;
  }

  xui-tabs /deep/ #tab1container #refreshicn {
    margin: 5px 0 0 0; 
    margin-left: auto;
  }

  xui-tabs /deep/ #tab1container {
    position: relative;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
  }

  xui-tabs /deep/ .contentlabel {
    display:block;
  }

  xui-tabs /deep/ .contentlabel xui-tooltip {
    position:relative;
    top: 3px;
  }

  xui-tabs /deep/ .contentholder {
    width: 100%;
    border: 1px solid #5A5A5A;
    margin-top:5px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }

  xui-tabs /deep/ .contentholder xui-input /deep/ input[type=text] {
    margin: 1%;
    width: 97%;
  }

  xui-tabs /deep/ .contentholder .flex-inline {
    display: inline-flex;
    width: 100%;
    margin-top: 1%;
  }

  xui-tabs /deep/ .contentholder .flex-inline xui-checkbox {
    margin: 0 1%;
    display: inline-flex;
  }

  xui-tabs /deep/ .contentholder .flex-inline xui-button {
    margin: 0 1%;
    margin-left:auto;
  }

  xui-tabs /deep/ .contentholder .flex-inline xui-color {
    margin: 0 0 0 1%;
  }

  xui-tabs /deep/ .contentholder .flex-inline #fontcolor /deep/ #colorcontainer {
    margin-left: 20px;
  }

  xui-tabs /deep/ .contentholder .flex-inline .fontselect {
    margin: 0 0 0 0;
    width: 100%;
  }

  xui-tabs /deep/ .contentholder .flex-inline .fontselect /deep/ select {
    width: 99%;
  }

  xui-tabs /deep/ .contentholder .flex-inline .outlineselect /deep/ select {
    width: 200px;
  }

  xui-tabs /deep/ .contentholder .flex-inline .outlineselect /deep/ select {
    width: 200px;
  }

  xui-tabs /deep/ .contentholder .flex-inline .outlinetooltip /deep/ #tooltip {
    margin-top: 10px;
  }

  xui-tabs /deep/ .contentholder .flex-inline .outlinetooltip {
    margin-left: -7px;
  }

  xui-tabs /deep/ .contentholder .flex-inline xui-range {
    margin: 0 1%;
  }

  xui-tabs /deep/ .flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1%;
  }

  xui-tabs /deep/ .animationWidth {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1% 0 0 1%;
  }

  xui-tabs /deep/ .animationWidth .noneanimation {
    width: 500px;
    height: 100px;
    bordeR: 1px solid #000000;
  }

  xui-tabs /deep/ .animationWidth xui-radio {
    margin-top: 10px;
  }