<dom-module id="chat-source">
  <style type="text/css">
  :host
  {
    display:block;
    min-width: 180px;
    min-height: 100px;
  }

  :host ::content *
  {
    box-sizing: border-box;
    font-size: 0;
  }

  #chatWrap
  {
    position: fixed;
    background-color: transparent;
    min-width: 180px;
    min-height: 100px;
  }

  /* for double border */
  #chatWrap:before
  {
    background: transparent;
    border: 5px solid rgba(34, 34, 34, /*{{opacity}}*/ 0.5);
    display: block;
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  #messageContainer
  {
    padding: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    overflow: hidden;
  }

  #messageContainer::-webkit-scrollbar
  {
    width: 8px;
    height: 8px;
  }

  #messageContainer::-webkit-scrollbar-thumb
  {
    background: #393939;
    width: 8px;
    height: 8px;
  }

  #messageContainer::-webkit-scrollbar-button
  {
    display: none;
  }

  #messageContainer .messageHeader
  {
    color: #C8C8C8;
    padding-left: 3px;
  }

  #messageContainer .messageDivider
  {
    color: #222;
    background-color: #222;
    margin: 3px 5px 3px 0;
    height: 1px;
    border: 0;
  }

  [fontsize=small] .messageHeader,
  [fontsize=small] .message span
  {
    font-size: 13px;
  }

  [fontsize=medium] .messageHeader,
  [fontsize=medium] .message span
  {
    font-size: 15px;
  }

  [fontsize=large] .messageHeader,
  [fontsize=large] .message span
  {
    font-size: 17px;
  }

  .messages
  {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .message
  {
    background-size: 18px 18px;
    background-repeat: no-repeat;
    padding: 0;
    line-height: 19px;
  }

  .message .sender
  {
    color: #CCC;
  }

  .message .messageBody
  {
    color: #FFF;
  }

  .message .messageBody img
  {
    vertical-align: top;
  }

  .message[type=broadcaster]
  {
    background-image: url("./images/icon_broadcaster.png");
    padding-left: 22px;
  }

  .message[type=moderator]
  {
    background-image: url("./images/icon_moderator.png");
    padding-left: 22px;
  }

  .message[type=broadcaster] .sender,
  .message[type=moderator] .sender
  {
    color: #FFF;
  }
  </style>
  <template>
    <div id="chatWrap">
      <div id="messageContainer" fontsize$="{{fontSize}}">
        <div class="messageHeader">Twitch Chat</div>
        <hr class="messageDivider" />
        <ul class="messages">
          <template id="messageTemplate" repeat$="{{message in messages}}">
            <li class="message" type$="{{message.type}}">
              <span class="sender">
                {{message.sender}}: </span>
              <span class="messageBody">{{message.text}}</span>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </template>

  <script src="js/chat-source.js"></script>
</dom-module>