<!doctype html>
<html>
  <head>
    <script>
      window.Polymer = window.Polymer || {};
      window.Polymer.dom = 'shadow';
    </script>
    <link rel="import" href="../../../imports.html" />
    <style type="text/css">
    
      center {
        position: relative;
        top:100px;
      }

      body {
        background-color: #000;
      }
      
      #container {
         width: 50%;
         height: 100%;
         position: relative;
        }

      xui-range {
       margin-bottom: 30px;
       margin-right: 100px;
       float: right;
      }

      span {
        float: left;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <center>
    <div id="container">
      <xui-tabs>
        <xui-tab name="tab1" label="Text" tooltip="Video Playlist" class="selected">Contents for Tab 1</xui-tab>
        <xui-tab name="tab2" label="Color" icon="https://cdn3.iconfinder.com/data/icons/humano2/128x128/apps/preferences-desktop-color.png" iconwidth="14" iconheight="14">Color Content</xui-tab>
        <xui-tab name="tab3" label="Layout">Layout Content with icon</xui-tab>
        <xui-tab name="tab4" label="Transition" class="disabled">This is a Disabled Content</xui-tab>
        <xui-tab name="tab5" label="Tab 5" class="hidden">Hidden Content</xui-tab>
      </xui-tabs>
    </div>
    </center>
  </body>
</html>