<!doctype html>
<html>
  <head>
    <script>
      window.Polymer = window.Polymer || {};
      window.Polymer.dom = 'shadow';
    </script>
    <link rel="import" href="../../../imports.html" />
    <style type="text/css">

      body {
        background-color: #2E2E2E;
      }
      
      #container {
         width: 50%;
         height: 100%;
         position: relative;
         top:100px;
         margin-right: auto;
         margin-left: auto;
         display: flex;
         flex-direction: column;
        }

      xui-select {
       width: 80%;
       margin-bottom: 20px;
       margin-right: 100px;
       float: left;
      }

      span {
        float: left;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <div id="container">

      <xui-select name="country" label="Country">
          <xui-option-group label="Asia" disabled>
              <xui-option value="PH" label="Philippines"></xui-option>
              <xui-option value="KR" label="South Korea"></xui-option>
              <xui-option value="JP" label="Japan"></xui-option>
              <xui-option value="TJ" label="Tajikistan" disabled></xui-option>
          </xui-option-group>
          <xui-option-group label="Europe">
              <xui-option value="SE" label="Sweden"></xui-option>
              <xui-option value="DK" label="Denmark" disabled></xui-option>
              <xui-option value="NO" label="Norway"></xui-option>
              <xui-option value="DE" label="Germany"></xui-option>
              <xui-option value="AL" label="Albania"></xui-option>
              <xui-option value="CZ" label="Czech Republic" disabled></xui-option>
          </xui-option-group>
          <xui-option-group label="Africa">
              <xui-option value="NI" label="Nigeria"></xui-option>
              <xui-option value="EG" label="Egypt"></xui-option>
              <xui-option value="SP" label="Spain"></xui-option>
          </xui-option-group>
          <xui-option value="ML" label="Mali"></xui-option>
          <xui-option value="BS" label="Bahamas"></xui-option>
          <xui-option value="CA" label="Canada" disabled></xui-option>
          <xui-option value="RW" label="Rwanda"></xui-option>
      </xui-select>
      
      <xui-select name="country" label="Disabled Select" disabled>
          <xui-option-group label="Asia" disabled>
              <xui-option value="PH" label="Philippines"></xui-option>
              <xui-option value="TJ" label="Tajikistan" disabled></xui-option>
          </xui-option-group>
      </xui-select>

      <xui-select name="country" label="With icon" icon="https://cdn1.iconfinder.com/data/icons/Map-Markers-Icons-Demo-PNG/128/Map-Marker-Flag--Azure.png" iconwidth="20" iconheight="20">
          <xui-option-group label="Asia">
              <xui-option value="PH" label="Philippines"></xui-option>
              <xui-option value="TJ" label="Tajikistan"></xui-option>
          </xui-option-group>
      </xui-select>

    </div>
  </body>
</html>