<!doctype html>
<html>
  <head>
    <script>
      window.Polymer = window.Polymer || {};
      window.Polymer.dom = 'shadow';
    </script>
    <link rel="import" href="../../../imports.html" />
      <style type="text/css">
      
        #container {
          width: 50%;
          margin-right: auto;
          margin-left: auto;
          position: relative;
          top:100px;
          display: flex;
          flex-direction: column;
        }

        body {
          background-color: #2E2E2E;
        }

        xui-input {
         margin-right: 10px;
         margin-bottom: 30px;
        }
      </style>
  </head>
  <body>
    <div id="container">
      <xui-input label="Input Label" type="text">
        <xui-tooltip title="Input Title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </xui-tooltip>
      </xui-input>
      <xui-input label="Input Label with icon" type="text" icon="https://cdn1.iconfinder.com/data/icons/technology-and-hardware-2/200/vector_66_07-128.png" iconwidth="20" iconheight="20"></xui-input>
      <xui-input label="Input Label (disabled)" type="text" disabled></xui-input>
      <xui-input readonly value="This is a Read Only textbox" label="Readonly Textbox" type="text">
    </xui-input>
    </div>
  </body>
</html>