<dom-module id="xbc-button-theme">
  <template>
    <style>

      :host {
        --xui-elements-focus: none;

        --xui-button-button: {
          color: #ccc;
          font-size: 14px;
          background-color: #000;
          border: 1px solid #858585;
        };

        --xui-button-button-disabled: {
          border: 1px solid #686868;
          color: #7B7B7B;
          cursor:not-allowed;
        };

        --xui-button-button-hover: {
          background-color: #043151;
          border: 1px solid #fff;
          color: #fff;
          cursor: pointer;
        };
      }
    </style>
  </template>
</dom-module>