<dom-module id="xbc-input-theme">
  <template>
    <style>

      :host {
        --xui-elements-focus: none;
        --xui-input-input: {
          background-color: #000;
          border: 1px solid rgba(87, 87, 87, 0.7);
          border-left: none;
          border-top: none;
          color: #fff;
          padding: 5px;
          margin-left: 5px;
        };

        --xui-input-label: {
          color: #ccc;
        }

        --xui-input-tooptip-border: 1px solid #3C3C3C;

        --xui-input-tooltip-content: {
          background-color: #090909;
          text-align: left;
          z-index: 9999;
        }

        --xui-input-disabled: {
          color: #7B7B7B;
          cursor:not-allowed;
        };
      }
    </style>
  </template>
</dom-module>