<dom-module id="xbc-textarea-theme">
  <template>
    <style>

      :host {
        --xui-elements-focus: none;
        --xui-textarea-label-color: #ccc;
        --xui-textarea: {
          background-color: #000;
          color: #fff;
          padding: 10px;
          border: 1px solid rgba(87, 87, 87, 0.8);
          border-left: none;
          border-top: none;
          margin-left: 10px;
        };
        
        --xui-textarea-disabled: {
          color: #7B7B7B;
          cursor:not-allowed;
          resize: none;
        };
      }

    </style>
  </template>
</dom-module>