<dom-module id="xbc-range-theme">
  <template>
    <style>

      :host {
        display: inline-flex;
        align-items: center;
        --xui-elements-focus: none;
        --xui-range-label: {
          color: #ccc;
        };

        --xui-range-rangeholder: {
          background-color: #111;
          color: #6C6C6C;
          font-weight: bold;
          font-size: 12px;
        };

        --xui-range-input-text: {
          background-color: #393939;
          color: #D6D6D6;
          border: 1px solid rgba(87, 87, 87, 0.7);
          border-left: none;
          border-top: none;
          };

          --xui-range-input-text-hover: {
            background-color: #555;
          };

          --xui-range-input-range-slider-hover: {
            background-color: #fff;
          };

          --xui-range-operator-color: #fff;

          --xui-range-rangeholder-disabled: {
            background-color: #555;
            border: 1px solid #000;
          };
          --xui-range-cursor-disabled: not-allowed;
          --xui-range-input-text-disabled: {
            background-color: #000;
            color: #7B7B7B;
          };

          --xui-range-input-range-slider {
            background-color: #646464;
          };

          --xui-range-input-range-slider-hover-disabled: {
            background-color: #646464;
          };
        }

    </style>
  </template>
</dom-module>