<polymer-element name="xve-file-controls" 
                 attributes="removeEnabled splitEnabled 
                             undoEnabled saveEnabled">

    <template>
        <link href="css/file_controls.css" rel="stylesheet" />
        
        <button id="add"></button>
        <button id="split"></button>
        <button id="remove"></button>
        <button id="undo"></button>
        <button id="save"></button>
    </template>

    <script src="js/file_controls.js"></script>
</polymer-element>