<polymer-element 
         name="xve-timeline" 
         attributes="length paused currenttime zoom updateInterval duration
                     currentResolution currentAudioSetting focusedVideo 
                     currentVideo videos"

         on-dragover             = "{{ draggedOver }}"
         on-video-focused        = "{{ videoFocused }}"
         on-video-resize-started = "{{ videoResizeStarted }}"
         on-video-resize-stopped = "{{ videoResizeStopped }}"
         on-video-resized        = "{{ videoResized }}"
         on-video-moved          = "{{ videoMoved }}"
         on-cuepoint-clicked     = "{{ cuepointClicked }}">

    <template>
        <link href="css/timeline.css" rel="stylesheet" />
        
        <ul id           = "ruler" 
            zoom         = "{{ zoom }}"
            on-mousedown = "{{ rulerClicked }}">
        
        <template repeat="{{ i in rulerIntervals }}">
            <li>{{ i * timeInterval | time }}</li>
        </template>
            
        </ul>
        
        <div id="fileList" on-click="{{ videoClicked }}"></div>
        
        <xve-pin 
            id            = "pin"
            paused        = "{{ paused }}"
            currenttime   = "{{ currenttime }}"
            duration      = "{{ duration }}"
            timeInterval  = "{{ timeInterval }}"
            pixelInterval = "{{ pixelInterval }}">        
        </xve-pin>
    </template>

    <script src="js/timeline.js"></script>
</polymer-element>