<link rel="import" href="../../imports.html">
<dom-module id="xui-tabs">
<template>
<style is="custom-style">
:host /deep/ {
  color: red;
}
  * /deep/ .head {
  float: left;
  text-align: center;
  min-width: 50px;
  padding: 3px 20px 3px 20px;
  cursor: default;
  margin-right: 3px;
  border-bottom: 3px solid #FFF;
  background-color: #EEE;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


* /deep/ .content {
  float: left;
  display: none;
  width: 98%;
  height: 600px;
  padding: 5px;
  background-color: #DDDDDD;
}

* /deep/ .clear {
  clear: both;
}

* /deep/ #contents {
  width: 100%;
  height: 300px;
}

* /deep/ .selected.head {
  background-color: #DDDDDD;
  border-bottom-color: #DDDDDD;
}

* /deep/ .disabled.head {
  background-color: #999999;
  color: #FFFFFF;
}

* /deep/ .hidden.head {
  display: none;
}

* /deep/ .selected.content {
  display: block;
}

#headers {
  margin-left: 15px;
}

</style>
  
  	<div id="headers"></div>
		<div class="clear"></div>
		<div id="contents"></div>

</template>

	<script src="js/tabs.js"></script>
</dom-module>