:host
{
    display: inline-block;
}

button
{
    width: 28px;
    height: 24px;
    border: none;
    background-color: transparent;
    background-position: 0 0;
    background-repeat: no-repeat;
    outline: none;
    cursor: pointer;
}

button:hover
{
    background-position-y: -26px;
}

button:active
{
    background-position-y: -51px;
}

button:disabled
{
    background-position-y: -76px;
    cursor: default;
}

#add
{
    background-image: url("../images/buttons/video_add.png");
}

#split
{
    background-image: url("../images/buttons/video_cut.png");
}

#remove
{
    background-image: url("../images/buttons/trash.png");
}

#undo
{
    background-image: url("../images/buttons/undo.png");
}

#save
{
    background-image: url("../images/buttons/save.png");
}
