:host
{
    height: 70px;
    width: 10px;
    margin-left: -4px;
    position: absolute;
    bottom: 0;
    background-image: url("../images/timeline/slider.png");
    background-color: transparent;
    pointer-events: none;
}

#handle
{
    height: 25px;
    width: 100%;
    pointer-events: initial;
}