*
{
    font-size: 11px;
    line-height: 1.4em;
    -webkit-user-select: none;
}

:host
{
    display: inline-block;
    text-align: right;
    color: #CCC;
    
}

#resolution,
#progress
{
    background-repeat: no-repeat;
    background-position: right 0 center;
    background-image: url("../images/stats/resolution.png");
    padding-right: 15px;
}

#progress
{
    background-image: url("../images/stats/progress.png");
}

#currenttime
{
    color: #0095DE;
}
