<link rel="import" href="../../imports.html">
<link rel="import" href="../xui-theme-xbc/themes/xbc-range-theme.html">
<dom-module id="xui-range">
<style type="text/css">

  *:focus {
     outline: var(--xui-elements-focus);
  }

  :host {
    display: inline-flex;
    align-items: center;
  }

  input[type=range] {
      -webkit-appearance: none;
      width: 84%;
      height:12px;
      background-color:  transparent;
  }

  input[type="range"]::-webkit-slider-thumb {
       -webkit-appearance: none;
      background-color: #888;
      width: 12px;
      height: 12px;
  }

  input[type="range"]:not([disabled])::-webkit-slider-thumb:hover {
      @apply(--xui-range-input-range-slider-hover)
  }

  #rangeholder {
    background: #fff;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    margin-left: 5px;
    @apply(--xui-range-rangeholder);
  }

  #rangeholder[disabled] {
    @apply(--xui-range-rangeholder-disabled);
  }

  #minus, #plus {
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    cursor: default;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
  }

  #plus {
  }

  input[type=text] {
    width: 40px;
    text-align: center;
    margin-left: 15px;
  }

  #icon {
    position:relative; 
    top: 3px;
    margin: 0 7px 0 7px ;
  }

  label {
    @apply(--xui-range-label);
    @apply(--xui-range-label-disabled);
  }

  #rangeholder[disabled] + label:hover {
    cursor: var(--xui-range-cursor-disabled);
  }

  #rangeholder[disabled] div {
    cursor: var(--xui-range-cursor-disabled);
  }

  #rangeholder:not([disabled]) div {
   color: var(--xui-range-operator-color);
  }

  #rangeholder[disabled] input {
    cursor: var(--xui-range-cursor-disabled);
  }

  #newval {
    @apply(--xui-range-input-text);
  }

  #newval[disabled] {
    cursor: var(--xui-range-cursor-disabled);
    @apply(--xui-range-input-text-disabled);
  }
  }

  input[type=text]:hover {
    @apply(--xui-range-input-text-hover);
  }

</style>
  <template>
  <style include="xbc-range-theme"></style>
      <label for="range" style$="{{setLabelStyle(labelstyle)}}" id="label">{{ label }}</label>
      <template is="dom-if" if="{{icon}}">
        <img id="icon" src$="{{icon}}" height$="{{iconheight}}px" width$="{{iconwidth}}px" disabled$="{{disabled}}"/>
      </template>
      <div id="rangeholder" disabled$="{{disabled}}" width$="{{width}}" height$="{{height}}">
        <div id="minus">-</div>
        <input style$="{{setStyle(rangestyle)}}" type="range" id="range" name$="{{name}}" step$="" disabled$="{{disabled}}"
         value='{{value::change}}' min$="{{min}}" max$="{{max}}" readonly$="{{readonly}}"/>
         <div id="plus">+</div>
      </div>
      <input type="text" readonly$="{{readonly}}" maxlength="5" id="newval" value="{{value}}"
       on-keypress="valueEnter" disabled$="{{disabled}}"/>
      <content></content>
  </template>
  <script src="js/range.js"></script>
</dom-module>