<link rel="import" href="../../imports.html">
<dom-module id="xui-range">
<style type="text/css">
  :host {
    display: inline-flex;
    align-items: center;
  }

  input[type=range] {
      -webkit-appearance: none;
      width: 200px;
      height:20px;
      background-color: transparent;
  }

  input[type="range"]::-webkit-slider-thumb {
       -webkit-appearance: none;
      background-color: #888;
      width: 20px;
      height: 20px;
  }

  #rangeholder {
    background: #fff;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    margin-left: 5px;
  }

  #minus, #plus {
    width: 15px;
    height: 100%;
    display: flex;
    justify-content: center;
    cursor: default;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
  }

  input[type=text] {
    width: 40px;
    text-align: center;
    margin-left: 15px;
  }

  #icon {
    position:relative; 
    top: 3px;
    margin: 0 7px 0 7px ;
  }

</style>
  <template>
      <label for="range">{{ label }}</label>
      <template is="dom-if" if="{{icon}}">
        <img id="icon" src$="{{icon}}" height$="{{iconheight}}px" width$="{{iconwidth}}px" disabled$="{{disabled}}"/>
      </template>
      <div id="rangeholder">
        <div id="minus">-</div>
        <input  type="range" id="range" name$="{{name}}" disabled$="{{disabled}}"
         value='{{value::change}}' min$="{{min}}" max$="{{max}}" readonly$="{{readonly}}"/>
         <div id="plus" width$="{{width}}" height$="{{height}}">+</div>
      </div>
      <input type="text" readonly$="{{readonly}}" maxlength="3" id="newval" value="{{value}}"
       on-keypress="valueEnter" disabled$="{{disabled}}"/>
      <content></content>
  </template>
  <script src="js/range.js"></script>
</dom-module>