<link rel="import" href="../globals/globals.html">
<link rel="import" href="./subsection.html">

  <!--
      TODO(polyup): unable to infer path to components
      directory. This import path is probably incomplete.
   -->
<link rel="import" href="iron-flex-layout/iron-flex-layout.html">
<dom-module id="xui-section">
  <style>
    /* TODO(polyup): For speed, consider reworking these styles with .classes
                     and #ids rather than [attributes].
    */
    [block] {
      @apply(--layout-block);
    }
  </style>
  <link rel="import" type="css" href="./section.css">
  <template>
    <style include="shared-styles"></style>
    <label block="">{{ label }}</label>
    <div id="content">
      <content></content>
    </div>
    </template>
  <script src="./section.js"></script>
</dom-module>
