<link rel="import" href="../../imports.html">
<link rel="import" href="../xui-theme-xbc/themes/xbc-textarea-theme.html">
<dom-module id="xui-textarea">
<style type="text/css">

*:focus {
   outline: var(--xui-elements-focus);
}

label {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  color: var(--xui-textarea-label-color);
  @apply(--xui-textarea-label);
}

#icon { 
  position:relative; 
  top: 5px;
  margin: 0 7px 0 3px ;
}

#textarea {  
  @apply(--xui-textarea);
}

#textarea[disabled],
label[disabled] {
  @apply(--xui-textarea-disabled);
}
</style>
  <template>
  <style include="xbc-textarea-theme"></style>
    
    <label for$="{{name}}" style$="{{labelstyle}}" disabled$="{{disabled}}">{{label}} 
      <template is="dom-if" if="{{icon}}">
        <img id="icon" src$="{{icon}}" height$="{{iconheight}}px" width$="{{iconwidth}}px" disabled$="{{disabled}}"/>
      </template>
    </label>
  	<textarea id="textarea" style$="{{inputstyle}}" name$="{{name}}" 
    rows$="{{rows}}" cols$="{{cols}}"
  	maxlength$="{{maxlength}}" disabled$="{{disabled}}"
    resize$="{{resize}}" placeholder$="{{placeholder}}" readonly$="{{readonly}}"></textarea>
  </template>

  <script src="js/textarea.js"></script>
</dom-module>